<div class="formContainter">
    <%= simple_form_for @note do |n| %>
        <div class="formInput">
            <!-- <label class="formLabel">Title: </label> -->
            <%= n.input_field :title, :class => 'titleField', :as => 'string' %>
        </div>
        <div class="formInput">
            <!-- <label class="formLabel">Content: </label> -->
            <%= n.input_field :content, :class => 'contentField' %>
        </div>
        <%= n.button :submit, "Save", :class => 'submitButton'%>
    <% end %>
</div>